<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acerca de</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css' ) }}">
</head>
<body>   
                     <h1>Acerca de la pagina</h1>
<p>
    pagina en proceso, creada en python y HTML por azkeel.
    esta pagina es un proyecto que ire mejorando mientras
    mas aprenda HTML,tambien se usara como pagina para mi 
    grupo de discord (Galaxy)
    <aside><img src="https://cdn.discordapp.com/icons/1093469321331752962/e04b1cce5045b6368db6f9097d2f505f.png?size=1024" alt="Galaxy Logo"></img></aside>
</p>
    <a href="/">
        <button>ir al inicio</button>
        <a href="/posts">
            <button>ir a postst</button></a>
            <a href="https://www.youtube.com/channel/UCP9PQdU-rkQ8Ok0dXhFu2jg">
                <button>canal de youtube</button></a>
        <article class="Test"></article>
</body>
</html>
