<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acerca de</title>
</head>
<body>
    <h1>Acerca de mí</h1>
    <p>pagina en proceso, creada en python y HTML porr azkeel</p>
    <p>esta pagina es un proyecto que ire mejorando mientras mas aprenda HTML,
    tambien se usara como pagina para mi grupo de discord (Galaxy) <img src="https://cdn.discordapp.com/icons/1093469321331752962/e04b1cce5045b6368db6f9097d2f505f.png?size=1024" alt="Galaxy Logo"></p>
    <a href="/">
        <button>ir al inicio</button>
        <a href="/posts">
            <button>ir a postst</button></a>
            <a href="https://www.youtube.com/channel/UCP9PQdU-rkQ8Ok0dXhFu2jg">
                <button>canal de youtube</button></a>
        <article class="Test">
            <h1>testUWU</h1>
        </article>
            </body>
</html>
