<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"></meta>
    <title>welcome</title>
    <img src= "https://i.pinimg.com/originals/7f/48/95/7f489515dac18efbf6bb3d60cfb3bdca.jpg"></img>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css' ) }}">
</head>
<body>
    <!--pagina de bienvenida y links -->
    <h1>Bienvenido a mi sitio web</h1>
    <p>aqui abajo encontraras mas sobre el proyecto y posts sobre lo que hago.</p>
        <iframe src="https://discord.com/widget?id=1093469321331752962&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
</body>
<footer>

    <li><a href="/posts">
        <button>ir a post</button>
    </li>
    <li>
        <a href="/about">
            <button>ir a about</button>
        </li>

</footer>
</html>