<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Publicaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles3.css' ) }}">
</head>
<body>

    <header>
        <h1>Mi Blog de Publicaciones</h1>
    </header>
    <main>
        <section class="post">
            <p>UwU</p>
            <img src="https://cdn.discordapp.com/attachments/1159277196515483719/1161879813775163482/image.png" alt="no se pudo cargar">
        </section>
                    <!-- Agrega más publicaciones aquí -->
    </main>
</body>
<footer>

    <a href="/">
        <button>ir al inicio</button>
        <a href="/about">
            <button>ir a about</button>

</footer>
</html>
